<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part2</title>
    <link rel="stylesheet" href="../Estilos/principal2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

</head>
<body>
    <header class="header">
        <a href="../Components/Principal.html">
            <img src="../img/Recurso_3.svg" alt="">
            
        </a>
        <div class="menu">
            
        
             <a href="../grid/index.html">
                <input type="submit" value="Acessorios"/> 
            </a>
             <a href="./accesorios.html">
                <input type="submit" value="Modelos"/> 
            </a>
            
           

            <a href="../modelos/modelos.html">
                <input type="submit" value="Ropa"/> 
            </a>


           
            <a href="">
                <input type="submit" value="servicios">
            </a>
            <a href="../Components/contacto.html">
                <input type="submit" value="Soporte">

            </a>
            
        </div>
        
        
        <div class="searchbar" >
            <input type="text" name="buscar" placeholder="Busca en RivasMotors." /> 
            <div class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>
            </div>
        </div>
        
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)"><path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
        </div>
        <a href="./login.php">
            <input type="submit" value="Accede"/> 
        </a>
            
    </header>
    
    <div class="container">
        <div class="text-overlay">
            <span>MX PRO TOUR 2023</span>
        </div>
        
        <img src="../img/mxprotour2022.jpg" alt="">
    </div>


        <div class="mx-tour">
            <h5>EL MX PRO TOUR CELEBRA EL 50 ANIVERSARIO DE LA GAMA YZ CON UNA NUEVA EDICIÓN EN ANDALUCÍA. </h5>
        </div>

        <div class="parrafos">
            <div class="texto">
                <p>El mayor evento de motocross de Yamaha está de vuelta. El próximo sábado 18 de noviembre el Circuito De Guadaira en la localidad de Morón de la Frontera (Sevilla) pasará a formar parte de la larga lista de circuito visitados por el MX PRO TOUR desde que llego a España en el año 2014.
                </p>
                <br>
                <div class="texto-2">
                    <p>Las instalaciones del Circuito de Guadaira se han convertido en uno de los puntos de referencia para los aficionados del motocross en la zona sur. Siendo uno de los circuitos con más historia de este país, ha visto como muchas generaciones de aficionados al motocross disfrutaban de su trazado a lo largo de los años. Situado a la ladera de una montaña este circuito destaca por su longitud y variedad, siendo un circuito totalmente de arena que incluye saltos, mesetas y curvas de todo tipo, sin duda un trazado ideal para poner a prueba la gama YZ 2024 de Yamaha. 

                    </p>
                </div>
                <br>
                <div class="texto-3">
                    <p>La gran protagonista de este evento será la YZ250F. El modelo de 4 tiempos de la categoría media, se renueva por completo en esta nueva temporada. A esta YZ250F le acompañaran su hermana mayor, la YZ450F y la YZ125, como vehículos de prueba disponibles para los participantes 

                    </p>
                </div>
                <br>
                <div class="texto-3">
                    <p>Esta edición 2024 será una edición especial ya que la familia YZ celebra 50 años de historia. Por ello, Yamaha ha presentado una edición especial de sus modelos YZ450F, YZ250F y YZ125 con una de las combinaciones de colores más legendarias y recordadas de la gama; las YZ del año 1993. Sin duda un homenaje a la altura de unos de los modelos más legendarios de la marca. Los asistentes al evento podrán probar algunas de estas ediciones especiales convirtiendo en única la experiencia del MX PRO TOUR 2024.


                    </p>
                </div>
                <br>
                <div class="texto-4">
                    <p>Como en ediciones anteriores todos los participantes a este evento podrán rodar con su propia moto, sea de la marca que sea, aparte de disfrutar de la prueba de Yamaha que soliciten previamente y llevarse un welcome pack con productos de la marca, entre muchas sorpresas más, todo ello por un precio de 20€ por piloto. 


                    </p>
                </div>
                
            </div>
        </div>
       

        <div class="count">
            <div class="modelos">
                <h2>Modelos</h2>

                <h4>Descubre la gama Yz</h4>
                <p>Antes de acudir al evento MX Pro Tour, conoce todos los detalles sobre el modelo YZ que quieres probar.
                </p>
                <input type="text" value="Descubrir">
            </div>
            <div class="tres">
                <img src="../img/las yzs.jpeg" alt="">
            </div>
            
          </div>

    
</body>
</html>